
.red {
	color: #d52339!important;
}

.mar-tb-30 {
	margin: 30px 0px;
}

.top-30 {
	margin-top: 30px;
}

.pad-0 {
	padding: 0;
}

p.font-10 {
	font-size: 8px;
	line-height: 0;
}

a.btn.btn-success.cusH3.form-group {
	width: 100%;
	padding: 10px;
}

.centered {
	display: inline-block;
	margin: 10px auto;
}
a.disabled{
    pointer-events: none;
    opacity: 0.2!important;
}
input[type=range] {
	-webkit-appearance: none;
	display: inline-block;
	margin: 30px auto;
	margin-top: calc(0.75em);
	border-radius: 20px;
	width: 100%;
	height: 8px;
	background: #FFF;
	transition: all 0.3s ease;
}

.w-400{max-width:400px;}
input[type=range]::-webkit-slider-runnable-track {
	height: 0px;
	background: #ddd;
	padding: none;
	border: none;
	border-radius: 3px;
}
.boxContent {
    border: 1px solid #eee;
    border-radius: 4px;
}
.boxContent h3.red {
    background: #eee;
    padding: 10px 16px;
    font-size:22px;
}
.boxContent p {
    padding: 10px 16px;
}
.h-174{height:174px;}
.h-152{height:152px;}
.h-196{height:196px;}
p #rangeValue {
	font-size: 20px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 18px;
	width: 18px;
	border-radius: 50%;
	background: darkorange;
	margin-top: -9px;
	cursor: pointer;
}

input[type=range]:focus {
	outline: none;
	cursor: pointer;
}


.breakpoint-off .dopenav ul li .dropdown {
	overflow-y: scroll;
}


li#applyNow {
	/* position: fixed; */
	/* width: 114px; */
	height: 32px;
	margin-top: -10px;
	background: #ff0000;
	padding: 4px 0px;
	border-radius: 30px;
	line-height: 1.5;
	/*box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.5);*/
}

li#applyNow a {
	color: #ffffff;
	border-bottom:0px;
}
.noText{
    font-size: 14px;
    display: block;
}
.noEdit {
    pointer-events: none!important;
    cursor: none!important;
    background: #ccc!important;
}
#top-social-menu {
	display: none;
}

.milAdv {
	background: #eee;
	padding: 20px 20px 20px 0px;
	margin-bottom: 40px;
	box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.5);
}

.imgBio img {
	width: 100%;
	height: 400px;
}

.iconImg {
	width: 30px;
	height: 30px;
	background: #ff0000;
	color: #ffffff;
	font-size: 20px;
	display: inline-block;
	text-align: center;
	padding: 5px 0px;
	margin-right: 10px;
}


/*Blog css*/

.blogImg {
	width: 100%;
}

.datDiv {
	background: #f4f4f8;
	padding: 10px;
	text-align: center;
}

.m {
	font-size: 20px;
}

.d {
	font-size: 42px;
	padding: 16px 0px;
	display: block;
}

.blogField {
	border: 1px dotted #c62828;
	padding: 16px;
	margin: 20px 0px;
}

.triangle-down {
	width: 0;
	height: 0;
	bottom: -15px;
	left: 25px;
	position: absolute;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 16px solid #f4f4f8;
}

.testimonialDiv {
	background: #f4f4f8;
	padding: 10px 20px;
	position: relative;
	margin-bottom: 16px;
	box-shadow: 0px -2px 5px 1px rgba(0, 0, 0, 0.5);
}


/*End*/

.bc_1 {
	background-image: url(../img/graph.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	height: 560px;
}

.bc_2 {
	background-image: url(../img/img1.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	height: 558px;
	position: absolute;
}

.autoM {
	margin: 10px auto;
}

.textContent {
	padding: 24px 0px 24px 0px;
}

a#video1 {
	color: #000;
	font-weight: 600;
	font-size: 16px;
}

a#video1 i {
	font-size: 40px;
	vertical-align: middle;
}

#videCont {
	position: relative;
	padding-bottom: 60.25%;
	padding-top: 47px !important;
	height: 0;
	margin: auto;
	max-width: 1000px !important;
	height: 0;
	height: auto !important;
}

.formSection {
	background: #fff;
	padding: 16px 16px 16px 16px;
	border-radius: 6px;
	box-shadow: 0px 0px 16px #b7cfea;
}

h4.font-16.cal {
	margin: 0px 18px;
	background: rgba(255, 255, 255, 1);
	width: 100px;
	padding: 9px;
}

.formSection input {
	height: 30px;
	margin-bottom: 10px;
	background: #f4f4f8;
	font-size: 12px;
	color: #000;
}

::placeholder {
	color: #000000;
	opacity: 1;
	font-weight: 500;
}

:-ms-input-placeholder {
	color: #000000;
	opacity: 1;
	font-weight: 500;
}

::-ms-input-placeholder {
	color: #000000;
	opacity: 1;
	font-weight: 500;
}

.formSection input:last-child {
	margin-bottom: 0px;
	margin-top: 10px;
}

.calBtn {
	border: none!important;
	background: rgb(198, 40, 40)!important;
	background: linear-gradient(90deg, rgba(198, 40, 40, 1) 30%, rgba(183, 28, 28, 1) 70%)!important;
	color: #fff!important;
	font-weight: 500;
	border-radius: 30px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.calUs {
	border: none!important;
	border-radius: 0px!important;
	background: #000000 !important;
	color: #fff!important;
	font-weight: 500;
}

.aboutSection {
	margin: 20px 0px;
	position: relative;
	height: 500px;
}

.bc_3 {
	background-image: url(../img/img2.png);
	background-repeat: no-repeat;
	background-position: left;
	background-size: contain;
	height: 500px;
}

.tabContent {
	background: rgb(198, 40, 40);
	background: linear-gradient(90deg, rgba(198, 40, 40, 1) 30%, rgba(183, 28, 28, 1) 70%);
	padding: 16px;
	text-align: center;
}

.aboutBox {
	padding: 6em 15em 6em 0px;
}

.bot-10 {
	margin-bottom: 10px;
}

.tabContent .tabBtn {
	color: #ffffff;
	background: rgb(198, 40, 40);
	background: linear-gradient(90deg, rgba(198, 40, 40, 1) 30%, rgba(183, 28, 28, 1) 70%);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	padding: 4px 16px;
	width: 120px;
	font-weight: 600;
	font-size: 12px;
	display: inline-block;
	margin: 0px 5px 10px 5px;
	border-radius: 30px;
}

.tabBtn.active {
	background: #ffffff;
	color: rgb(198, 40, 40);
}

.textBox p {
	color: #ffffff;
	font-size: 12px;
}

.textBox {
	padding: 16px 0px 0px;
}

#goal,
#vission {
	display: none;
}

.guarSection {
	margin: 50px 0px 0px;
}

.bc_5 {
	background-image: url(../img/newchangeimage.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: contain;
	height: 448px;
}

.bot-50 {
	margin-bottom: 50px;
}

.termCountText {
	padding: 7em 7em;
}

.mr-40 {
	margin: 40px 0px;
}

a.clickBtn {
	background: #c62828;
	color: #fff;
	font-weight: 500;
	padding: 8px 0px;
	text-align: center;
	font-size: 16px;
	display: block;
	width: 174px;
	margin: 60px auto 0px;
	border-radius: 30px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

/*.check {*/
/*	display: inline-block;*/
/*	transform: rotate(45deg);*/
/*	height: 20px;*/
/*	width: 12px;*/
/*	border-bottom: 5px solid #43a047;*/
/*	border-right: 5px solid #43a047;*/
/*	margin-right: 25px;*/
/*}*/

.lowSection {
	background: #f4f4f8;
	padding: 8px;
	clear: both;
	position: relative;
}

.wght-600 {
	font-weight: 700;
}

.contBox {
	padding: 30px 0px 0px;
	width: 100%;
}

.custSection {
	clear: both;
	height: 150px;
}

.posRel {
	position: relative;
}

.bc_6 {
	width: 106%;
	height: 0;
	border-top: 150px solid #000000;
	position: absolute;
	right: -6%;
	border-right: 100px solid transparent;
}

.bc_7 {
	width: 106%;
	height: 0;
	left: -6%;
	border-bottom: 150px solid #c62828;
	position: absolute;
	border-left: 100px solid transparent;
}

.thnkDiv {
	max-width: 430px;
	width: 100%;
	background: #ffffff;
	padding: 80px 50px;
	position: relative;
	text-align: center;
	margin: 100px auto;
	height: 200px;
	border-radius: 6px;
	box-shadow: 2px 2px 5px 1.5px #cccccc91;
}

img.thnk_img {
	max-width: 100px;
	width: 100%;
	background: #ffffff;
	padding: 4px;
	position: absolute;
	top: -55px;
	border-radius: 50%;
	left: 50%;
	transform: translate(-50%, 0px);
	box-shadow: 2px 2px 5px 1.5px #cccccc91;
}

div.par {
	position: absolute;
	z-index: 1;
	color: #ffffff;
	left: 20%;
	margin-top: 60px;
	width: 70%;
	font-weight: 600;
}

.pad-r-0 {
	padding-right: 0px;
}

span.numb {
	font-size: 40px;
	vertical-align: -webkit-baseline-middle;
}

span.Txt {
	margin-top: 0px;
	display: block;
	line-height: 1;
	margin-left: 4px;
	font-size: 24px;
	text-transform: capitalize;
}

.whatweSection {
	clear: both;
	padding: 50px 0px;
}

.serviceBox {
	max-width: 300px;
	margin: 20px auto;
	background: #f4f4f8;
	padding: 14px;
	height: 200px;
	width: 100%;
	text-align: center;
}

.p-right {
	float: right;
}

.p-left {
	float: left;
}

.serviceBox a i {
	font-size: 120px;
	margin-bottom: 8px;
	color: #000;
}

.serviceBox:hover,
.serviceBox:hover a i {
	background: #c62828;
	color: #fff;
}

.serviceBox:hover p {
	color: #ffffff;
}

.serviceBox.active {
	background: #c62828;
	color: #fff;
}

.serviceBox.active p {
	color: #ffffff;
}

.homeOwnerSection {
	background: #f4f4f8;
	padding: 50px 0px;
}

.imgBox img {
	width: 100%;
	max-width: 70px;
	margin: 10px auto;
}

.imgBox {
	height: 100px;
}

.containerBox {
	background: #fff;
	margin-bottom: 10px;
	padding: 32px 10px 32px 10px;
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.containerBox h4 {
	margin-bottom: 16px;
}

.containerBox a {
	font-weight: 500;
}


/*Testimonial Css*/

.gtco-testimonials {
	padding: 50px 0px;
	position: relative;
}

@media (max-width: 767px) {
	.gtco-testimonials {
		margin-top: 20px;
	}
}

.gtco-testimonials h2 {
	font-size: 30px;
	text-align: center;
	color: #333333;
	margin-bottom: 26px;
}

.gtco-testimonials .owl-stage-outer {
	padding: 50px 0px;
}

.gtco-testimonials .owl-nav {
	display: none;
}

.gtco-testimonials .owl-dots {
	text-align: center;
}

.gtco-testimonials .owl-dots span {
	position: relative;
	height: 10px;
	width: 10px;
	border-radius: 50%;
	display: block;
	background: #fff;
	border: 2px solid #01b0f8;
	margin: 0 5px;
}

.gtco-testimonials .owl-dots .active {
	box-shadow: none;
}

.gtco-testimonials .owl-dots .active span {
	background: #01b0f8;
	box-shadow: none;
	height: 12px;
	width: 12px;
	margin-bottom: -1px;
}

.autoForm {
	width: 70%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #ccc;
}

.loginForm {
	width: 46%;
	margin: 0px auto;
	padding: 20px;
	border: 1px solid #ccc;
}

a#btn1 {
	width: 300px;
	text-align: center;
	margin: 0px auto;
}

a#btn2 {
	width: 300px;
	text-align: center;
	margin: 0px auto;
}

.landingForm {
	padding: 40px;
	background: #eee;
}

.d-block {
	display: block;
}

#myInput {
	width: 84%;
	display: inline-block;
}

.gtco-testimonials .card {
	background: #fff;
	box-shadow: 0 0px 10px rgba(0, 0, 0, 0.5);
	margin: 0 20px;
	/*padding: 0 10px;*/
	border-radius: 20px;
	min-height: 470px;
	border: 0;
}

.gtco-testimonials .card .card-img-top {
	max-width: 100px;
	border-radius: 50%;
	margin: 15px auto 0;
	/*box-shadow: 0 8px 20px -4px #95abbb;*/
	width: 100px;
	height: 100px;
}

.gtco-testimonials .card h5 {
	color: #000;
	font-size: 21px;
	line-height: 1.3;
	border-bottom: 1px solid #f4f4f8;
	padding: 16px 0px;
}

.gtco-testimonials .card h5 span {
	font-size: 18px;
	color: #666666;
}

.gtco-testimonials .card p {
	color: #000;
	padding-bottom: 15px;
	padding: 16px 42px;
}

.gtco-testimonials .active {
	transition: all 0.3s;
}

.gtco-testimonials .center {
	opacity: 1;
}

.gtco-testimonials .center h5 {
	font-size: 20px;
}

.star img {
	width: 20px !important;
	display: inline-block !important;
}

.gtco-testimonials .card-body {
	padding: 0px !important;
}

.gtco-testimonials .center h5 span {
	font-size: 20px;
}

.gtco-testimonials .center .card-img-top {
	max-width: 100%;
	height: 120px;
	width: 120px;
}

.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel button.owl-dot {
	outline: 0;
}

.owl-item.center div .card {
	background: #333;
	color: #ffffff;
	margin-top: -50px;
}

.owl-item.center div .card h5,
.owl-item.center div .card p {
	color: #ffffff;
}

span.line {
	display: inline-block !important;
	width: 31.5%;
	height: 1px;
	background: #f4f4f8;
}

.star {
	margin-top: 20px;
}

.NextPr {
	display: block;
	text-align: center;
}

.NextPr .carousel-control-prev {
	left: 0;
	z-index: 999;
	width: 50px;
	position: relative;
	display: inline-block;
	width: 7%;
	opacity: 1;
	z-index: 99;
	font-size: 28px;
	color: #c62828;
}

.NextPr .carousel-control-next {
	right: 0;
	position: relative;
	display: inline-block;
	width: 7%;
	opacity: 1;
	z-index: 99;
	font-size: 28px;
	color: #c62828;
}

.NextPr .carousel-control-next:focus,
.NextPr .carousel-control-next:hover,
.NextPr .carousel-control-prev:focus,
.NextPr .carousel-control-prev:hover {
	color: #c62828;
}


/*Close*/


/*Footer Css*/

.footer {
	background: #333;
	color: #ffffff;
	padding: 50px 0px 10px 0px;
	border-bottom: 4px solid gray;
}

.footer h4 {
	color: #ffffff;
	margin-bottom: 10px;
}

.footer p {
	color: #ffffffba;
	padding: 0px 32px 0px 0px;
}

.top {
	margin-top: 40px;
}

.footer a {
	color: #ffffffba;
}

.footer li {
	margin-bottom: 6px;
	list-style-type: disc;
}

.footer ul {
	padding: 0px 16px;
}

.ftSocial {
	background: #fff;
	color: #000!important;
	width: 30px;
	height: 30px;
	display: inline-block;
	text-align: center;
	font-size: 28px;
	margin-right: 10px;
	padding: 4px 0px;
}

.ulSecond li {
	display: inline-block;
	list-style-type: none;
	margin: 1.5em 0px 1.5em 11.8em;
}

.ulSecond {
	padding: 0px 0px!important;
	border-bottom: 1px solid #ffffff;
}

.btmFot {
	padding: 16px 4em 16px 0px;
}

.ulSecond li a {
	color: #ffffff!important;
	font-size: 18px;
	font-weight: 500;
}

.ulSecond li:first-child {
	margin-left: 0px;
}

.lenderImg {
	width: 50px;
}

.top-22 {
	margin-top: 22px;
}


/*Close*/

.militarySection {
	padding: 50px 0px 0px 0px;
}

.querySection {
	background: blue;
	padding: 16px;
}

.querySection p {
	margin: 0;
	color: #ffffff;
}

.querySection h4 {
	color: #ffffff;
}

a.queryBtn {
	color: #fff;
	font-weight: 600;
	background: dodgerblue;
	padding: 10px 20px;
	border-radius: 30px;
	margin-top: 0px;
	display: inline-block;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

a.meetBtn {
	background: #c62828;
	color: #ffffff;
	font-weight: 600;
	padding: 10px 20px;
	margin-top: 20px;
	display: inline-block;
	border-radius: 4px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.pad-cl {
	padding: 20px 16px;
}


/*} # Section Full Width Image================================ */


/*Home Purchase css*/

.pad-50 {
	padding: 50px 0px;
}

.box {
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
	padding: 30px 16px;
	border-radius: 4px;
}

.box form {
	width: 100%;
}

.input-group input {
	width: 90%;
	display: inline-block;
}

button.search {
	display: inline-block;
	float: right;
	background: #c62828;
	color: #fff;
	border: 0;
	width: 36px;
	position: relative;
	height: 38px;
	margin-left: -5px;
	border-radius: 4px;
}

.gray {
	background: #f4f4f8;
}

.bot-30 {
	margin-bottom: 30px;
}

.sideUl {
	padding: 0px 0px 0px 0px;
	list-style-type: none;
}

.sideUl li {
	padding: 10px 0px 4px 0px;
	border-bottom: 1px solid;
	position: relative;
}

.sideUl li a {
	color: #000000;
}

.cusH3 {
	border-bottom: 1px solid #c28282;
	padding: 0px 0px 4px;
}

.left {
	display: inline-block;
	text-align: left;
	width: 49%;
}

.right {
	display: inline-block;
	text-align: right;
	width: 49%;
}

.dope-nav-container {
	width: 100%;
}

.bookForm input {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.sendBtn {
	background: #c62828;
	border: 0;
	color: #fff;
	padding: 6px 16px;
	box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
}

h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white,
p.white,
a.white {
	color: #ffffff !important;
}

.mortgageBox {
	background-image: url(https://reverse.mortgage/wordpress/wp-content/uploads/2019/03/reverse-mortgage-loan-officer.png);
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 400px;
	background-repeat: no-repeat;
}

.redLayer {
	background: rgba(212, 34, 56, 0.8);
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 30px 70px;
	color: #ffffff;
}

.redLayer h4 {
	color: #ffffff;
}

.buttonBox {
	width: 50%;
	margin: 10px auto;
	border-bottom: 1px solid #fff;
}

.bot-0 {
	margin-bottom: 0px;
}

a.mrgBtn {
	display: block;
	background: #fff;
	color: #c62828;
	margin-bottom: 20px;
	position: relative;
	text-align: left;
	padding: 8px 10px 4px;
	font-weight: 600;
	font-size: 16px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
}

a.sldBtn {
	width: 46%;
	display: inline-block;
	background: #fff;
	color: #d42238;
	margin: 0px 10px 36px 10px;
	position: relative;
	text-align: left;
	padding: 8px 10px 4px;
	font-weight: 600;
	font-size: 16px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	border-radius: 30px;
}

button.sldBtn {
	width: 46%;
	display: inline-block;
	background: #fff;
	color: #c62828;
	margin: 0px 10px 4px 10px;
	position: relative;
	text-align: center;
	border: 0px;
	padding: 8px 8px 4px;
	font-weight: 600;
	font-size: 16px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
}
input.sldBtn.text-center {
    width: 100%;
    background: #c62828;
    border: 1px solid #c62828;
    box-shadow: 2px 2px 8px #00000050;
    color: #fff;
    padding: 6px;
    border-radius: 30px;
}
a.mrgBtn input[type=radio],
a.sldBtn input[type=radio],
a.mrgBtn input[type=checkbox],
a.sldBtn input[type=checkbox] {
	opacity: 0;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
}

a.mrgBtn input[type=radio]:hover~a.mrgBtn,
a.sldBtn input[type=radio]:hover~a.sldBtn {
	background: #c62828;
	color: #fff;
}


}
.white {
	color: #fff!important;
}
a.mrgBtn i,
a.sldBtn i {
	font-size: 24px;
	vertical-align: middle;
	margin-top: -4px;
	margin-right: 10px;
}
.fas.fa-sun {
	color: yellow;
	font-size: 20px;
}
.progress {
	background-color: #fff;
	border-radius: 20px;
	position: relative;
	margin: 4px 0;
	height: 7px;
	display: inline-block;
	width: 160px;
}
.progress-done {
	background: yellow;
	border-radius: 20px;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 0;
	opacity: 0;
	transition: 1s ease 0.3s;
}
.bot-16 {
	margin-bottom: 16px;
}
.featurBox {
	background: #f4f4f8;
	padding: 30px;
}
p.ftrIcon {
	width: 60px;
	height: 60px;
	background: #ffff;
	margin: 30px auto 10px auto;
	color: #d42238;
	padding: 9px 0px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
	font-size: 28px;
	border-radius: 50%;
}
/*verticle progress*/
/*.wrapper {  width: 330px;  font-family: 'Helvetica';  font-size: 14px;  border: 1px solid #CCC;}*/
.StepProgress {
	position: relative;
	padding-left: 45px;
	list-style: none;
}
.StepProgress::before {
	display: inline-block;
	content: '';
	position: absolute;
	top: 0;
	left: 15px;
	width: 10px;
	height: 85%;
	border-left: 2px solid #CCC;
}
.StepProgress-item {
	position: relative;
	counter-increment: list;
	color: #000;
}
.StepProgress-item:not(:last-child) {
	padding-bottom: 20px;
}
.StepProgress-item::before {
	display: inline-block;
	content: '';
	position: absolute;
	left: -30px;
	height: 100%;
	width: 10px;
}
.StepProgress-item::after {
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	left: -37px;
	width: 12px;
	height: 12px;
	border: 2px solid #CCC;
	border-radius: 50%;
	background-color: #FFF;
}
.StepProgress-item.is-done::before {
	border-left: 2px solid green;
}
.StepProgress-item.is-done::after {
	content: "ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¾Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€šÃ‚Â¦ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦ÃƒÂ¢Ã¢â€šÂ¬Ã…â€œÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬ÃƒÂ¢Ã¢â‚¬Å¾Ã‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã‚Â¦ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã¢â‚¬Â ÃƒÂ¢Ã¢â€šÂ¬Ã¢â€žÂ¢ÃƒÆ’Ã†â€™Ãƒâ€šÃ‚Â¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡Ãƒâ€šÃ‚Â¬ÃƒÆ’Ã¢â‚¬Â¦Ãƒâ€šÃ‚Â¡ÃƒÆ’Ã†â€™Ãƒâ€ Ã¢â‚¬â„¢ÃƒÆ’Ã‚Â¢ÃƒÂ¢Ã¢â‚¬Å¡Ã‚Â¬Ãƒâ€¦Ã‚Â¡ÃƒÆ’Ã†â€™ÃƒÂ¢Ã¢â€šÂ¬Ã…Â¡ÃƒÆ’Ã¢â‚¬Å¡Ãƒâ€šÃ‚Â";
	font-size: 10px;
	color: #FFF;
	text-align: center;
	border: 2px solid green;
	background-color: green;
}
.StepProgress-item.current::before {
	border-left: 2px solid #c62828;
}
.StepProgress-item.current::after {
	content: counter(list);
	padding-top: 1px;
	width: 25px;
	height: 25px;
	top: -4px;
	left: -42px;
	font-size: 12px;
	text-align: center;
	color: #c62828;
	border: 2px solid #c62828;
	background-color: white;
}
.StepProgress strong {
	display: block;
	margin-bottom: 10px;
}
.StepProgress-item.current:last-child::before {
	display: none;
}
/*a.applyNow {
	display: inline-block;
	color: #fff;
	background: #c62828;
	padding: 4px 10px;
	margin: 20px;
	border-radius: 4px;
}*/
.empUl {
	padding: 0px 16px;
}
/*.empUl li p:before,
.ul li p:before {
	content: '\2713';
	color: #c62828;
	font-weight: 600;
	margin-right: 10px;
}*/
.empUl li p i {
    display: inline-block;
    font-size: 20px;
    position: relative;
    top: 3px;
    margin-right: 3px;
    background: -webkit-gradient(linear, left top, right top, color-stop(23%, #d42238), color-stop(64%, #1f4495));
    background: linear-gradient(90deg, #d52339 23%, #1f4495 64%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
a.mrgBtn.active,
a.sldBtn.active {
	background: #1f4495;
	color: #fff;
}
.slider {
	width: 100%;
	max-width: 640px;
	margin: 0 auto;
	overflow: hidden;
	background: white;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
}
.slider .slider-items-container {
	display: flex;
	flex-wrap: wrap;
	height: auto;
	transition: transform 0.35s ease-in-out;
}
.slider .slider-items-container img {
	width: 100vw;
	max-width: 640px;
	display: block;
}
.slider .controls {
	width: 100%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 35px;
}
.slider .controls a {
	color: #333;
	text-decoration: none;
	transition: 0.15s ease-in-out;
}
.slider .controls a:hover {
	color: #888;
}
.slider .dots {
	width: 100%;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 20px;
}
.slider .dots .dot {
	width: 10px;
	height: 10px;
	background: #333;
	transition: 0.15s ease-in-out;
	border-radius: 8px;
	cursor: pointer;
	margin: 0 20px;
}
.slider .dots .dot.active {
	background: #888;
}
.sldBtn {}
.mortgageBox .carousel-control-next,
.mortgageBox .carousel-control-prev {
	position: relative;
	display: inline-block;
	width: 7%;
	opacity: 1;
	z-index: 99;
	font-size: 28px;
}
/*Range Slider*/
.range {
	position: relative;
}
.range input[type=range] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	padding: 0;
	width: 100%;
	height: 22px;
	cursor: pointer;
	display: block;
}
.range input[type=range]:focus {
	outline: none;
}
.range input[type=range][disabled] {
	opacity: .3;
	cursor: default;
}
.range .rangeslider {
	position: relative;
	height: 22px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.range .rangeslider:before {
	box-sizing: border-box;
	width: 100%;
	height: 12px;
	background: #fff;
	border-radius: 100px;
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-25%);
	transform: translateY(-50%);
}
.range input::-webkit-slider-runnable-track {
	box-sizing: border-box;
	width: 100%;
	height: 4px;
	background: #e6e6e6;
	border-radius: 100px;
	margin: 11px 0;
}
.range input::-moz-range-track {
	box-sizing: border-box;
	width: 100%;
	height: 4px;
	background: #e6e6e6;
	border-radius: 100px;
	margin: 11px 0;
}
.range input::-ms-track {
	box-sizing: border-box;
	width: 100%;
	height: 4px;
	background: #e6e6e6;
	border-radius: 100px;
	color: transparent;
	padding: 11px 0;
	background: transparent;
	border-color: transparent;
}
.range input::-ms-fill-lower,
.range input::-ms-fill-upper {
	box-sizing: border-box;
	width: 100%;
	height: 4px;
	background: #e6e6e6;
	border-radius: 100px;
}
.range input::-ms-fill-lower {
	background: #60cd18;
}
.range .rangeslider-fill-lower {
	background-color: yellow;
	border-radius: 100px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	height: 12px;
	will-change: width;
}
.range input::-webkit-slider-thumb {
	box-sizing: border-box;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
	border: 6px solid #fff;
	height: 24px;
	width: 24px;
	border-radius: 100px;
	background: #333940;
	cursor: pointer;
	-webkit-appearance: none;
	appearance: none;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	margin-top: 2px;
}
.range input::-moz-range-thumb {
	box-sizing: border-box;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
	border: 6px solid #fff;
	height: 24px;
	width: 24px;
	border-radius: 100px;
	background: #333940;
	cursor: pointer;
}
.range input::-ms-thumb {
	box-sizing: border-box;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
	border: 6px solid #fff;
	height: 24px;
	width: 24px;
	border-radius: 100px;
	background: #333940;
	cursor: pointer;
}
.range .rangeslider-thumb {
	box-sizing: border-box;
	box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.5);
	border: 6px solid #fff;
	height: 24px;
	width: 24px;
	border-radius: 100px;
	background: #333940;
	cursor: pointer;
	position: absolute;
	touch-action: pan-x;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	will-change: left;
}
.range .range-output {
	position: absolute;
	left: 6px;
	top: 6px;
	-webkit-transform-origin: 0 0;
	transform-origin: 0 0;
	-webkit-transition: -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.range .range-output .output {
	display: block;
	position: absolute;
	height: 60px;
	line-height: 60px;
	min-width: 32px;
	padding: 0 20px;
	top: -26px;
	-webkit-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	background: #383c42;
	color: #fff;
	border-radius: 100px;
	white-space: nowrap;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}
.range .range-output .output:before {
	content: "";
	position: absolute;
	bottom: -8px;
	left: 50%;
	border: 10px solid #383c42;
	border-bottom: none;
	border-left-color: transparent;
	border-right-color: transparent;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
}
.sldForm {
	width: 100%;
	margin: 0px 0px;
}
main {
	display: -webkit-box;
	display: flex;
	margin-bottom: -32px;
	height: 189px;
	-webkit-box-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	align-items: center;
	color: #333;
}
.bot-70 {
	margin-bottom: 70px;
}
.bot-66 {
	margin-bottom: 66px;
}
select.form-control.cusSlt {
	height: calc(2rem + 2px) !important;
	color: #c62828;
	font-size: 14px;
	font-weight: 600;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
select.form-control.cusSlt:focus {
	outline: 0px 0px;
	border: 0px;
}
.bot-40 {
	margin-bottom: 40px;
}
.infoHeader {
	background-image: url(https://integrityhr.com/wp-content/uploads/2011/08/HR-Outsourcing-Services-header-2000x500.jpg);
	background-position: center;
	background-size: cover;
	height: 150px;
	margin-top: 125px;
}
.top2 {
	background-image: url(../img/2.png) !important;
}
.top1 {
	background-image: url(../img/1.png) !important;
}
.top3 {
	background-image: url(../img/3.png) !important;
}
.top4 {
	background-image: url(../img/4.png) !important;
}
.top5 {
	background-image: url(../img/5.png) !important;
}
.top6 {
	background-image: url(../img/6.png) !important;
}
.top7 {
	background-image: url(../img/7.png) !important;
}
.top8 {
	background-image: url(../img/8.png) !important;
}
.top9 {
	background-image: url(../img/9.png) !important;
}
.top10 {
	background-image: url(../img/10.png) !important;
}
.blckLayer {
	background: rgba(0, 0, 0, 0.5);
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 46px 0px;
}
.ImgBg {
	width: 100%;
}
.rightHead {
	padding: 40px 20px 20px;
}
.leftHead {
	padding: 40px 20px 20px 0px;
}
.pleft {
	padding: 0px 100px 0px 0px;
}
.pright {
	padding: 0px 100px 0px 20px;
}
.testimonialBox {
	background: #c62828;
	padding: 50px 0px;
}
.h-300 {
	height: 300px;
}
quote.white {
	font-weight: bold;
	font-size: 100px;
	color: #ffffff;
	margin-bottom: 20px;
	margin-top: 44px;
	position: relative;
	display: block;
}
p.testPara {
	font-size: 20px;
	line-height: 1.5;
	color: #fff;
	padding: 0px 10em;
}
.cusLi {
	width: 20px !important;
	height: 20px !important;
	border-radius: 50% !important;
}
.mob {
	margin-top: 0px;
}
/*Contact us*/
a.mail.red {
	font-size: 17px;
	display: block;
	font-weight: 500;
	margin-top: 20px;
}
.add_sec.pad-50 {
	background: #f4f4f8;
}
.form_contact {
	padding: 50px;
	background: #ffffff;
}
#contactForm label {
	font-weight: 600;
}
#contactForm input,
#contactForm select,
#contactForm textarea {
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}
input.submitBtn {
	border: 0px;
	background: #c62828;
	color: #ffffff;
	font-size: 18px;
	padding: 10px 30px;
	display: block;
	font-weight: 600;
	border-radius: 6px;
	width: 200px;
	margin: 30px auto 0px auto;
}
.top-40 {
	margin-top: 40px;
}
.tble_div {
	background: #f4f4f8;
}
.mar-12 {
	margin: 0px 12px 36px 12px !important;
}
#bot-86 {
	margin-bottom: 60px;
}
span#rangeValue1 {
    color: #ffffff;
    font-size: 1.7em;
    font-weight: 600;
}
.signSel {
	width: 50%;
	margin: 36px auto;
}
.dubSel {
	width: 100%;
}
/*Close*/
.infolarg {
	background-image: url('https://wallpaperxyz.com/wp-content/uploads/Background-Images-HD-1080P-Nature-Free-Download-Wallpaperxyz.com-1.jpg');
	background-position: center;
	background-repeat: no-repeat;
	height: 400px;
	position: relative;
	margin-top: 123px;
}
.infolarg .blckLayer {
	text-align: left;
	padding: 0px;
}
#white {
	color: #ffffff;
}
.layerInfo {
	background: #c62828;
	padding: 6em 16px;
	width: 70%;
	height: 400px;
	float: right;
}
.infoContent {
	position: relative;
	top: 25%;
}
.prRate li {
	display: inline-block;
	width: 49%;
}
.tableSection {
	background: #f4f4f8;
	padding: 20px 30px;
	border-top: 8px solid #c62828;
}
table.tb {
	width: 100%;
	margin: 50px auto;
}
/* Zebra striping */
table.tb tr:nth-of-type(odd) {
	background: #f4f4f8;
}
table.tb tr:nth-of-type(even) {
	background: #fff;
}
table.tb th {
	background: #fff;
	color: #000;
	border: 0px;
	font-weight: 600;
}
table.tb th {
	padding: 10px;
	border-bottom: 4px solid #c62828;
	border-right: 1px solid #ccc;
	text-align: left;
	font-size: 14px;
}
table.tb th:last-child,
table.tb td:last-child {
	border-right: 0px;
}
table.tb td {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	text-align: left;
	font-size: 14px;
	font-weight: 500;
}
table.tb td:nth-child(2),
table.tb td:nth-child(3) {
	background: #ffc10738;
}
.pad-30 {
	padding: 30px 0px !important;
}
#h-460 {
	height: 460px;
}
#h-460 .buttonBox {
	width: 60%;
}
.btn-success:before{
	position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(23%, #d42238), color-stop(64%, #1f4495));
    background: linear-gradient(90deg, #d42238 23%, #1f4495 64%);
    z-index: -1;
    border-radius: 50px;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
}
.btn-success {
    color: #ffffff;
    position: relative;
    background-color: #0d1820;
    border-color:#0d1820!important;
    z-index: 1;
    padding: 10px 16px 12px;
    border-radius: 50px;
}
.btn-success:hover:before {
    width: 0;
}
.btn-success:hover, .btn-success:focus, .btn-success:active{
	background-color: #0d1820!important;
	border-color: #0d1820!important;
}
.sideUl span.left {
    width: 30%;
}
.sideUl span.right {
    width: 68%;
}
/* Max width before this PARTICULAR table gets nastyThis query will take effect for any screen smaller than 760pxand also iPads specifically.*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px) {
	table.tb {
		width: 100%;
	}
	/* Force table to not be like tables anymore */
	
	table,
	thead,
	tbody,
	th,
	td,
	tr {
		display: block;
	}
	/* Hide table headers (but not display: none;, for accessibility) */
	
	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr {
		border: 1px solid #ccc;
	}
	
	td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
	}
	
	td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		/* Label the data */
		content: attr(data-column);
		color: #000;
		font-weight: bold;
	}
}
input#rangeValue1 {
    background: transparent;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
}